<?xml version="1.0"?>
<config>
    <default>
		<facebook>
			<general>
				<product_limit>10</product_limit>
			</general>
		</facebook>
	</default>
	<modules>
        <Magestore_Facebook>
            <version>0.1.2</version>
        </Magestore_Facebook>
    </modules>
    <frontend>
        <routers>
            <facebook>
                <use>standard</use>
                <args>
                    <module>Magestore_Facebook</module>
                    <frontName>facebook</frontName>
                </args>
            </facebook>
        </routers>
        <layout>
            <updates>
                <facebook>
                    <file>facebook.xml</file>
                </facebook>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<facebook>
				<use>admin</use>
				<args>
					<module>Magestore_Facebook</module>
					<frontName>facebook</frontName>
				</args>
			</facebook>
        </routers>
    </admin>
    <adminhtml>		
		<menu>
			<magestore>
				<title>Magestore Extension</title>
				<sort_order>71</sort_order>               
				<children>					
					<settings module="facebook">
						<title>Facebook Settings</title>
						<sort_order>10</sort_order>
						<action>adminhtml/system_config/edit/section/facebook</action>
					</settings>
				</children>
			</magestore>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <facebook translate="title">
                                            <title>Facebook</title>
                                            <sort_order>50</sort_order>
                                        </facebook>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<facebook>
					<file>facebook.xml</file>
				</facebook>
			</updates>
		</layout>
		
		<events>
		  <admin_system_config_changed_section_facebook>
			  <observers>
		          <magestore_facebook_observer>
		            <type>singleton</type>
		            <class>facebook/facebook</class>
		            <method>save_config</method>
		          </magestore_facebook_observer>
		       </observers>
		  </admin_system_config_changed_section_facebook>			  		  
		</events>
    </adminhtml>   
    <global>
        <models>
            <facebook>
                <class>Magestore_Facebook_Model</class>
                <resourceModel>facebook_mysql4</resourceModel>
            </facebook>
            <facebook_mysql4>
                <class>Magestore_Facebook_Model_Mysql4</class>
                <entities>
                    <facebook>
                        <table>facebook</table>
                    </facebook>
                </entities>
            </facebook_mysql4>
        </models>
        <resources>
            <facebook_setup>
                <setup>
                    <module>Magestore_Facebook</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </facebook_setup>
            <facebook_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </facebook_write>
            <facebook_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </facebook_read>
        </resources>
        <blocks>
            <facebook>
                <class>Magestore_Facebook_Block</class>
            </facebook>
        </blocks>
        <helpers>
            <facebook>
                <class>Magestore_Facebook_Helper</class>
            </facebook>
        </helpers>
    </global>
</config>