<?xml version="1.0"?>
<config>
    <tabs>
        <magestore translate="label">
            <label>Magestore Extension</label>
            <sort_order>400</sort_order>
        </magestore>
    </tabs>
	<sections>
        <facebook translate="label" module="facebook">
            <class>separator-top</class>
            <label>Facebook</label>
            <tab>magestore</tab>
            <frontend_type>text</frontend_type>
            <sort_order>300</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<general translate="label">
                    <label>Facebook Application Information</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>		                        			
						<product_limit translate="label">
							<label>Product limit</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[The maximum number of products show on search page]]></comment>
                        </product_limit>
						<app_name translate="label">
							<label>Application Key</label>
							<frontend_type>text</frontend_type>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Application key is a string and  doesn't contain space characters<br/>Example : <i>my_storename</i><br/><font color="red">This is a required field</font>]]></comment>
                        </app_name>
						<store_name translate="label">
							<label>Store Name</label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[The name of your store. <br/>Example :<i>My Shopping</i><br/><font color="red">This is a required field</font>]]></comment>
                        </store_name>     
						<category translate="label">
							<label>Store Category</label>
                            <frontend_type>select</frontend_type>
                            <source_model>facebook/category</source_model>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>							
						</category>						
						<contact_name translate="label">
							<label>Contact Name</label>
							<frontend_type>text</frontend_type>
							<sort_order>3</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </contact_name>
						<contact_email translate="label">
							<label>Contact Email</label>
							<frontend_type>text</frontend_type>
							<sort_order>4</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[<font color="red">This is a required field</font>]]></comment>
                        </contact_email>
						<contact_phone translate="label">
							<label>Contact Phone</label>
							<frontend_type>text</frontend_type>
							<sort_order>5</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </contact_phone>
						<contact_location translate="label">
							<label>Contact Location</label>
							<frontend_type>text</frontend_type>
							<sort_order>6</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </contact_location>							
						<logo_link translate="label">
							<label>Logo Link</label>
							<frontend_type>text</frontend_type>
							<sort_order>8</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[Example : <i>http://www.yourdomain.com/skin/frontend/default/default/images/logo.gif</i><br/><font color="red">This is a required field</font>]]></comment>
                        </logo_link>						
						<description translate="label">
							<label>Description</label>
							<frontend_type>textarea</frontend_type>
							<sort_order>9</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<comment><![CDATA[
								Please note, We require a short description about your store<br/>
									<font color="red">This is a required field</font><br/><br/> 
							]]>
							</comment>
                        </description>						
																			
					</fields>
				</general>
								
            </groups>
        </facebook> 
    </sections>
</config>